<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HostsSwitcherSection" type="HostsSwitcher.HostsSwitcherSection, HostsSwitcher" />
  </configSections>
  
  <HostsSwitcherSection>
    <Hosts>
      <Host name="TestBox01" ip="192.168.10.10" />
      <Host name="TestBox02" ip="192.168.10.11" />
    </Hosts>
    <HostEntries>
      <HostEntry name="app1.domain.com" />
      <HostEntry name="app2.domain.com" />
      <HostEntry name="app3.domain.com" />
    </HostEntries>
  </HostsSwitcherSection>
</configuration>