<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HostsSwitcherConfiguration" type="HostsSwitcher.HostsSwitcherConfiguration, HostsSwitcher" />
  </configSections>
  
  <HostsSwitcherConfiguration>
    <Hosts>
      <Host name="LONSPWT01" ip="192.168.10.10" />
      <Host name="LONSPWT02" ip="192.168.10.11" />
    </Hosts>
    <HostEntries>
      <HostEntry name="home.brunswickgroup.com" />
      <HostEntry name="bnetupload.brunswickgroup.com" />
      <HostEntry name="bnetretheme.brunswickgroup.com" />
  </HostEntries>
  </HostsSwitcherConfiguration>
</configuration>